<!DOCTYPE html>
<head>
  <title>Yolo live stream</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    $(function(){
      $("input[type=submit]").click(function(){
        window.location.pathname = $("input[type=text]").val()
      })
    })
  </script>
  <style>
    body {
      background: #2E3339;
      color: #414145;
      font-family: 'Open Sans', sans-serif;
    }
    .tweet {
      background: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 15px;
      overflow: hidden;
      max-width: 510px;
      margin: 23px auto;
    }
    h1 {
      margin: 0 0 20px;
      font-size: 40px;
    }
    .input {
      border: 0;
      font-size: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
      border-bottom: 1px dotted;
    }
    strong {
      color: #FF7473;
    }
  </style>
</head>
<body data-yolo="<%= @yolo %>">
  <div class="tweet">
    <h1>Twitter <strong>yolo</strong> live stream</h1>
    Replace <strong>yolo</strong> with <input type="text" class="input" value="cocaine"/> <input type="submit" value="Go" />
  </div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38971486-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>